/* Extra-small devices (portrait phones, less than 544px) */
@media screen and (max-width: 543px) {
    /*body {
        background-color: red;
    }*/
    .navbar-brand {
        font-size: 1.5rem;
    }
    .navbar {
        font-size: 1rem;
    }
    #headline {
        font-size: 5.5rem;
    }
    #contact-headline {
        font-size: 3rem;
    }
    #photo-gallery img {
        width: 125px;
        height: 125px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 544px) and (max-width: 767px) {
    /*body {
        background-color: orange;
    }*/
    #contact-headline {
        font-size: 5rem;
    }
    #photo-gallery img {
        width: 200px;
        height: 200px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991px) {
    /*body {
        background-color: yellow;
    }*/
    #headline {
        font-size: 6rem;
    }
    #contact-headline {
        font-size: 5rem;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199px) {
    /*body {
        background-color: green;
    }*/
    #contact-headline {
        font-size: 6rem;
    }
}

/* Extra large devices (large desktops) */
/* No media query, no upper bound on its width */