
/*PHONES to iPHONES*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
	body {
		background-color: red;
	}


	.contactUs {
		height: 600px;
	}
}

/*iPHONES6 to GALAXY*/
@media only screen and (min-width: 360px) and (max-width: 640px) {
	body {
		background-color: orange;
	}
	.about-main {
		height: 1150px;
	}
	.contact {
		height: 400px;
	}
	.time-info {
		font-size: 4em;
		text-align: center;
	}
	.jumbotron p {
		padding: 10px 30px;
	}
	.jumbotron h1 {
		font-size: 6em;
		padding-left: 30px;
	}
}

/*TABLETS*/
@media only screen and (min-width: 768px) and (max-width: 1000px) {
	body {
		background-color: yellow;
	}
	.time-info {
		text-align: center;
	}
	.jumbotron p {
		padding-left: 30px;
	}
	.contact {
		height: 300px;
	}
}

/*PRINT*/
@media print {
	* {
		background: transparent !important;
		color: #000 !important;
	}
	footer,
	nav {
		display: none;
	}
	body,
	.jumbotron p {
		font-size: 1em;
	}
	.jumbotron h1 {
		font-size: 3em;
	}
	.jumbotron img {
		width: 20%;
		height: 20%;
	}
	.choices img {
		width: 10%;
		height: 10%;
	}
	.about-main {
		height: 500px;
	}
	.contact {
		height: 200px;
	}
	button {
		width: 400px;
		font-size: 1em;
	}
}