/* STANDARD PAGE RULES */
#wrapper {
    max-width: 1000px;
    min-height: 100%;
    position: relative;
    margin-bottom: -40px;
}
#wrapper:after {
    content: "";
    display: block;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}
ul {
    padding: 0;
}
/* FLEXBOX ____________________________________*/
.choices {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: space-around;
}
.choices li {
    margin: auto;
}
/* NAVBAR ____________________________________*/
.navbar {
    margin-bottom: 0px;
}
/* JUMBOTRON ____________________________________*/
.jumbotron img {
    border: 2px solid #DEAE0C; /* orange */
    display: inline-block;
    float: left;
    margin-left: 25px;
}
.jumbotron p {
    padding: 10px 0px 10px 50px;
    margin: 0px;
}
.maintext {
    display: inline-block;
}
/* FONTS ____________________________________*/
body {
    font-family: 'Montserrat', sans-serif;
}
.about-main,
.about-secondary,
.contactUs,
.contact button {
    font-size: 1.25em;
}
.about-main,
.about-secondary,
.contact {
    text-align: justify;
}
footer,
.jumbotron h1,
.navbar,
.time-info {
    font-family: 'Londrina Outline', cursive;
}
.icon-google-plus,
.icon-twitter {
    font-size: 2.5em;
}
.jumbotron h1,
.time-info {
    font-size: 7em;
}
.navbar-brand {
    font-size: 2em;
}
.navbar-collapse,
footer {
    font-size: 1.5em;
}
.picks {
    text-align: center;
}
.picks ul li {
    font-size: 1.25em;
}
.tag {
    font-size: 0.35em;
}
/* COLORS ____________________________________*/
.icon-google-plus,
.icon-twitter,
.dish {
    color: #3EB354; /* lime green */
}
a:link,
a:visited,
.ah,
footer,
.jumbotron h1,
.picks h2,
.time-info {
    color: #009999; /* teal */
}
a:hover,
a:active,
.contactDetails h2,
.name,
strong {
    color: #DEAE0C; /* orange */
}
button a:link,
button a:visited,
.contact button {
    background-color: #009999; /* teal */
    color: white;
}
footer,
.jumbotron {
    background: url("../img/retina_wood_@2X.png");
    border-top: 2px solid #DEAE0C; /* orange */
    border-bottom: 2px solid #DEAE0C; /* orange */
}
.picks {
    border-top: 2px solid #DEAE0C; /* orange */
    border-bottom: 2px solid #DEAE0C; /* orange */
}
.tag {
    color: black;
}
/* SPACING ____________________________________*/
.about-main,
.contact {
    margin-top: 15px;
    height: 750px;
}
button {
    display: inline-block;
    margin-left: 50px;
    padding: 10px;
    width: 150px;
}
.contact button {
    margin: 0px;
}
.contact-info li {
    display: inline-block;
}
.contactUs {
    height: 400px;
}
footer {
    text-align: center;
}
h1 {
    padding-left: 35px;
}
.contact-info {
    margin: 20px 50px;
}
.icon-google-plus,
.icon-twitter {
    margin-left: 50px;
}
.picks {
    padding: 15px 0px;
}
/* ICONS ____________________________________*/
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?pm6fho');
    src:url('../fonts/icomoon.eot?pm6fho#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?pm6fho') format('truetype'),
        url('../fonts/icomoon.woff?pm6fho') format('woff'),
        url('../fonts/icomoon.svg?pm6fho#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-glass2:before {
    content: "\e900";
}
.icon-mug:before {
    content: "\e901";
}
.icon-spoon-knife:before {
    content: "\e902";
}
.icon-google-plus:before {
    content: "\e903";
}
.icon-twitter:before {
    content: "\e904";
}