
/* JUMBOTRON ____________________________________*/
.jumbotron img {
    border: 2px solid #DEAE0C; /* orange */
    display: inline-block;
    float: left;
}
/* FONTS ________________________________________*/
body {
    font-family: 'Montserrat', sans-serif;
}
#footer,
.jumbotron h1,
.navbar,
h3 {
    font-family: 'Londrina Outline', cursive;
}
#headline,
#contact-headline {
    font-size: 8rem;
}
#time-info {
    font-size: 6rem;
}
.navbar-brand {
    font-size: 2rem;
}
.navbar {
    font-size: 1.75rem;
}
#footer p,
#recipe-header {
    font-size: 1.25rem;
}
#contact-content {
    font-size: 2rem;
}
#recipe-header {
    letter-spacing: 1px;
}
strong {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
/* COLORS _______________________________________*/
.dish {
    color: #3EB354; /* lime green */
}
#main-nav a,
a,
.favorites,
#footer p,
.jumbotron h1,
h3 {
    color: #009999; /* teal */
}
a:hover,
#main-nav a:hover,
.name,
strong,
#contact-us {
    color: #DEAE0C; /* orange */
}
#secondary-content,
#contact-content {
    color: #888888; /* grey */
}
.btn a {
    text-decoration: none;
    color: white;
}
/* BACKGROUNDS _______________________________________*/
#footer,
.jumbotron {
    background: url("../img/retina_wood_@2X.png");
    border-top: 2px solid #DEAE0C; /* orange */
    border-bottom: 2px solid #DEAE0C; /* orange */
}
#recipe-header {
    background-color: #3EB354; /* lime green */
}
.btn {
    background-color: #009999; /* teal */
}
/* LISTS ____________________________________*/
#recipes-cooked {
    padding-left: 0;
    list-style: none;
}
/* PHOTOS ____________________________________*/
#photo-gallery img {
    border: 2px solid #DEAE0C; /* orange */
    width: 250px;
    height: 250px;
}
#vote-choices img {
    width: 300px;
}
/* ICONS ____________________________________*/
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?pm6fho');
    src:url('../fonts/icomoon.eot?pm6fho#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?pm6fho') format('truetype'),
        url('../fonts/icomoon.woff?pm6fho') format('woff'),
        url('../fonts/icomoon.svg?pm6fho#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-glass2:before {
    content: "\e900";
}
.icon-mug:before {
    content: "\e901";
}
.icon-spoon-knife:before {
    content: "\e902";
}
.icon-google-plus:before {
    content: "\e903";
}
.icon-twitter:before {
    content: "\e904";
}