/********************************
STANDARD PAGE RULES
*********************************/
#wrapper {
    max-width: 1000px;
    min-height: 100%;
    position: relative;
    margin-bottom: -40px;
}
#wrapper:after {
    content: "";
    display: block;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}
a:visited {
    color: #009999; /* teal */
}
/********************************
FLEXBOX
*********************************/
.choices {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.choices li {
    margin: auto;
}
/********************************
NAVBAR
*********************************/
.navbar {
    margin-bottom: 0px;
}
#pic-die {
    margin-top: -10px;
}
/********************************
JUMBOTRON
*********************************/
.jumbotron img {
    display: inline-block;
    float: left;
}
.maintext {
    display: inline-block;
}
/********************************
FONTS
*********************************/
.jumbotron h1,
.navbar,
footer {
    font-family: 'Homemade Apple', cursive;
}
.jumbotron h1 {
    font-size: 6em;
}
.navbar-brand {
    font-size: 2.25em;
}
.about,
.contact button {
    font-size: 1.25em;
}
.about,
.contact {
    text-align: justify;
}
/********************************
COLORS
*********************************/
.jumbotron, 
footer {
    background: url("../img/retina_wood_@2X.png");
    border-top: 2px solid #DEAE0C; /* orange */
    border-bottom: 2px solid #DEAE0C; /* orange */
}
.jumbotron img {
    border: 2px solid #DEAE0C; /* orange */
}
.jumbotron h1 {
    color: #009999; /* teal */
}
footer {
    color: white;
}
.contact button {
    background-color: #009999; /* teal */
    color: white;
}
/********************************
PADDING & MARGINS
*********************************/
h1 {
    padding-left: 35px;
}
.jumbotron img {
    margin-left: 25px;
}
.jumbotron p {
    padding: 10px 50px;
    margin: 0px;
}
.maintext {
    height: 250px;
}
form {
    display: inline-block;
}
button {
    display: inline-block;
    margin-left: 50px;
    padding: 10px;
    width: 200px;
}
label,
input {
    padding-right: 20px;
}
footer {
    margin: 0px;
}
ul {
    padding: 0;
}
.maininfo {
    margin: 20px 0px;
}
.contact button {
    margin: 0px;
}